

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-shopping-bag"></i>
    <span class="badge">0</span>
</a>
<ul class="dropdown-menu cart-list" id="sepetUrunleri">

     @*    <li>
            <a href="#" class="photo"><img src="~/igtu/images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
            <h6><a href="#">Delica omtantur </a></h6>
            <p>1x - <span class="price">$10.00</span></p>
        </li> *@
    

    <li class="total">
        <span class="float-right"><strong>Total</strong></span>
        <a href="#" class="btn btn-default hvr-bounce-to-bottom btn-cart">VIEW CART</a>
    </li>
</ul>