@using AriTechno.Database.Entities
@{
    ViewData["Title"] = "Dashboard v3";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}



<main class="app-main">
    <div class="app-content">
        <div class="container-fluid">         

            <div class="col-lg-12">
                <div class="card card-primary card-outline mb-4">
                    <div class="card-header bg-primary">
                        <div class="card-title ">Kategori Ekle</div>
                    </div>
                    <form action="Create" method="post" class="needs-validation" novalidate>
                        <div class="card-body">
                            <div class="row g-3">
                                <div class="col-md-12">
                                    <label for="validationCustom01" class="form-label">Kategori Adı</label>
                                    <input name="adi" type="text"class="form-control" id="validationCustom01"  required />
                                </div>
                                <div class="col-md-12">
                                    <label for="validationCustom02" class="form-label">Kategori Açıklaması</label>
                                    <textarea name="aciklama" class="form-control" id="validationCustom02" placeholder="Açıklama" style="height: 6rem" required></textarea>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info" type="submit">Kategori Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

@section Scripts {
 @*    <script>
    //     // Example starter JavaScript for disabling form submissions if there are invalid fields
    //     (function () {
    //         'use strict'
    //         // Fetch all the forms we want to apply custom Bootstrap validation styles to
    //         var forms = document.querySelectorAll('.needs-validation')
    //         // Loop over them and prevent submission
    //         Array.prototype.slice.call(forms)
    //             .forEach(function (form) {
    //                 form.addEventListener('submit', function (event) {
    //                     if (!form.checkValidity()) {
    //                         event.preventDefault()
    //                         event.stopPropagation()
    //                     }
    //                     form.classList.add('was-validated')
    //                 }, false)
    //             })
    //     })()
    // </script> *@
    <script src="~/adminlte/dist/js/validationtemplate.js" ty></script>
}

